<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>

  <body class="container shadow">
    <noscript> Please turn on JavaScript or change browsers!</noscript>

    <%- include('header.ejs') %>

    <main class="container text-center" role="main">
      <img
        class="img-fluid mx-auto d-block"
        loading="lazy"
        src="/images/Error.png"
        loading="lazy"
        alt="not_found"
      />
    </main>

    <%- include('footer.ejs') %>
  </body>
</html>
