<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>

  <body class="container shadow">
    <noscript> Please turn on JavaScript or change browsers!</noscript>

    <%- include('header.ejs') %>

    <main class="container login-form" role="main">
      <form class="shadow" action="/" method="get">
        <h2 class="text-center">Find your <strong>RentAcar</strong> account</h2>

        <p class="text-center small">
          Enter your email or username.
        </p>

        <div class="form-group">
          <input
            type="email"
            class="form-control"
            size="25"
            placeholder="your@email.com"
            required
          />
          <br />
          <input type="submit" class="btn btn-warning btn-block" value="Send" />
        </div>
      </form>
    </main>

    <%- include('footer.ejs') %>
  </body>
</html>
